@{
    ViewBag.Title = "S_PlanBoardInfo";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript">
    $(function () {
        GetGrid();
        btn_Search();
    })


    //全局传参变量
    var postData = {
        StartTime: "",
        EndTime: "",
    }

    //加载表格
    function GetGrid() {
        $("#gridTable").jqGrid({
        //url: "@Url.Content("~/VisualizationModule/S_PlanBoardInfo/GridPageJson1")",
        datatype: "json",
        height: $(window).height() - 146,
        autowidth: true,
            colModel: [
                { label: 'ID', name: 'ID', index: 'ID', width: 0, align: 'left', sortable: true, hidden: true },
                { label: '日期', name: 'Date', index: 'Date', width: 100, align: 'center', sortable: true },
                { label: '计划UPH', name: 'DayPlanUph', index: 'DayPlanUph', width: 75, align: 'center', sortable: true },
                { label: '日排产', name: 'DayPlanNo', index: 'DayPlanNo', width: 75, align: 'center', sortable: true },
                { label: '月排产', name: 'MouthPlanNo', index: 'MouthPlanNo', width: 75, align: 'center', sortable: true },
                { label: '标语', name: 'Label', index: 'Label', width: 300, align: 'center', sortable: true },
                { label: '来源', name: 'Type', index: 'Date', width: 100, align: 'center', sortable: true },
                { label: '日上线', name: 'DayActualNo', index: 'DayActualNo', width: 50, align: 'center', sortable: true },
                { label: '日下线', name: 'DayOutNo', index: 'DayOutNo', width: 50, align: 'center', sortable: true },
                { label: '日入库', name: 'DayWherehouseNo', index: 'DayWherehouseNo', width: 50, align: 'center', sortable: true },
                { label: '月上线', name: 'MouthActualNo', index: 'MouthActualNo', width: 50, align: 'center', sortable: true },
                { label: '月下线', name: 'MouthOutNo', index: 'MouthOutNo', width: 50, align: 'center', sortable: true },
                { label: '月入库', name: 'MouthWherehouseNo', index: 'MouthWherehouseNo', width: 50, align: 'center', sortable: true },
                {
                    label: '创建时间', name: 'CreTm', index: 'CreTm', width: 150, align: 'center', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd hh:mm:ss');
                    }
                },
                //{ label: '创建人编号', name: 'CreCd', index: 'CreCd', width: 0, align: 'center', sortable: true },
                { label: '创建人名称', name: 'CreNm', index: 'CreNm', width: 100, align: 'center', sortable: true},
                { label: '修改时间', name: 'MdfTm', index: 'MdfTm', width: 150, align: 'center', sortable: true },
                //{ label: '修改人编号', name: 'MdfCd', index: 'MdfCd', width: 0, align: 'center', sortable: true },
                { label: '修改人名称', name: 'MdfNm', index: 'MdfNm', width: 100, align: 'center', sortable: true },
                //{ label: '预留字段1', name: 'RsvFld1', index: 'RsvFld1', width: 0, align: 'center', sortable: true, hidden: true },
                //{ label: '预留字段2', name: 'RsvFld2', index: 'RsvFld2', width: 0, align: 'center', sortable: true, hidden: true },
                {
                    label: '有效性', name: 'Enabled', index: 'Enabled', width: 50, align: 'center', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == '1') return "<img src='../../Content/Images/checkokmark.gif'/>";
                        if (cellvalue == '0') return "<img src='../../Content/Images/checknomark.gif'/>";
                    }
                },
                { label: '备注', name: 'Rem', index: 'Rem', width: 150, align: 'center', sortable: true },
        ],
        pager: "#gridPager",
        sortname: 'Date',
        sortorder: 'desc',

            gridview: true,
            rownumbers: true,//启用记录条数
            rowList: [200, 100, 500, 1000],//记录条数列表
            viewrecords: true,//显示总的记录条数
            rownumWidth: 45,//序号列宽
            shrinkToFit: true,//列宽自适应
            loadonce: true,
      });
    }

    //新增
    function btn_add() {
        var url = "/VisualizationModule/S_PlanBoardInfo/Form"
        openDialog(url, "Form", "新增排产信息", 600, 400, function (iframe) {
            top.frames[iframe].AcceptClick()
        });
    }

    //编辑
    function btn_edit() {
        var KeyValue = GetJqGridRowValue("#gridTable", "ID");
        if (KeyValue == undefined || KeyValue == "" || KeyValue == 'null' || KeyValue == 'undefined') {
            tipDialog('您没有选中任何项,请您选中后再操作。', 4, 'warning');
        }
        else {
            var count = KeyValue.split(",").length;
            if (count >= 2) {
                tipDialog('很抱歉，一次只能选择一个进行操作。', 4, 'warning');
            }
            else {
                var url = "/VisualizationModule/S_PlanBoardInfo/Form?KeyValue=" + KeyValue;
                openDialog(url, "Form", "编辑排产信息", 600, 400, function (iframe) {
                    top.frames[iframe].AcceptClick()
                });
            }
        }
    }


    //复制一条已有记录并更新为当天信息
    function btn_copyrecord() {
        var KeyValue = GetJqGridRowValue("#gridTable", "ID");
        if (KeyValue == undefined || KeyValue == "" || KeyValue == 'null' || KeyValue == 'undefined') {
            tipDialog('您没有选中任何项,请您选中后再操作。', 4, 'warning');
        }
        else {
            var count = KeyValue.split(",").length;
            if (count >= 2) {
                tipDialog('很抱歉，一次只能选择一个进行操作。', 4, 'warning');
            }
            else {
                AjaxJson("/VisualizationModule/S_PlanBoardInfo/btn_copyrecord", { KeyValue: KeyValue }, function (data) {
                    tipDialog(data.Message, 3, data.Code);
                    top.frames[tabiframeId()].windowload();
                    closeDialog();
                });
            }
        }
    }


    


    //删除
    function btn_delete() {
        var KeyValue = GetJqGridRowValue("#gridTable", "ID");
        if (IsDelData(KeyValue)) {
            var delparm = 'KeyValue=' + KeyValue;
            delConfig('/VisualizationModule/S_PlanBoardInfo/Delete', delparm, KeyValue.split(",").length);
        }
    }

    //刷新
    function windowload() {
        $("#gridTable").setGridParam({ datatype: 'json', page: 1 }).trigger("reloadGrid");
    }




    //搜索
    function btn_Search() {
        postData.StartTime = $("#StartTime").val();     //开始时间
        postData.EndTime = $("#EndTime").val();         //结束时间
        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("~/VisualizationModule/S_PlanBoardInfo/GridPageByCondition")",
            postData: postData,
            datatype: 'json'
        }).trigger('reloadGrid');
    }

    $(document).keypress(function (e) {
        // 回车键事件
        if (e.which == 13) {
            btn_Search();
        }
    });


    //修改后导出
    //根据检索条件搜索出来的数据直接导出
    function btn_derive() {
        var StartTime = $("#StartTime").val();     //开始时间
        var EndTime = $("#EndTime").val();         //结束时间

        var count = $("#gridTable").getGridParam("records");
        if (count == 0) {
            tipDialog("没有要导出的信息！", 1.5, 0);
            return;
        }
        else if (count > 50000) {
            tipDialog("导出数据过大，请选择搜索条件分批导出", 1.5, 0);
            return;
        }
        else {
            window.setTimeout(function () {
                location.href = "/VisualizationModule/S_PlanBoardInfo/GetExcel_Data?StartTime=" + escape(StartTime) + "&EndTime=" + escape(EndTime) ;
                Loading(false);
            }, 200);
        }
    }
    


</script>
<div class="leftline rightline QueryArea" style="margin: 1px; margin-top: 0px; margin-bottom: 0px;">
    @*按钮区域*@
    <div class="tools_bar" style="margin-top: 1px; margin-bottom: 0px;">
        <div class="PartialButton">
            @Html.Partial("_PartialButton")
        </div>
    </div>
    @*搜索框区域*@
    <table border="0" class="form-find" style="height: 40px;">
        <tr>
            <th>时间区间：</th>
            <td id="STime_s">开始：</td>
            <td>
                <input id="StartTime" type="text" class="txt Wdate" value="@HfutIE.Utilities.DateTimeHelper.GetDate(-14)" style="width: 120px" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'EndTime\')}'}); blur();" readonly/>
            </td>
            <td id="ETime_s">结束：</td>
            <td>
                <input id="EndTime" type="text" class="txt Wdate" value="@HfutIE.Utilities.DateTimeHelper.GetDate(+7)" style="width: 120px" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'StartTime\')}'}); blur();" readonly/>
            </td>
            <td>
                <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="btn_Search()" />
            </td>
        </tr>
    </table>
</div>
<div class="topline rightline" style="margin: 1px; margin-top: -1px;">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
