@{
    ViewBag.Title = "质控点基础信息表";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript">
    $(function () {
        //CellItem_AviCatg('WcTyp');//需在GetGrid()之前进行初始化赋值
        GetGrid();
        GetGrid1();
        GetTree();
        Show();
        BindDropItem("#WcTyp", "WcTyp");
    })
    var area_key = "";
    var area_name = "";
    var Type = "";
    var selectnodeishaschild = "";//选中树节点是否有子节点
    var parentId = "";//父节点编号
    var itemsort = "";

    var PlineTypeCellItem = "";

    //加载左边树
    function GetTree() {
        var itemtree = {
            onnodeclick: function (item) {
                selectnodeishaschild = item.hasChildren;
                area_key = item.id;            //ID
                area_name = item.text;         //名称
                Type = item.Type;
                parentId = item.parentnodes;   //父节点编号
                itemsort = item.Type;
                var WcCd = $("#WcCd").val();
                var WcNm = $("#WcNm").val();
                //2.点击树展示表格
                $("#gridTable").jqGrid('setGridParam', { url: "@Url.Content("~/BaseModule/BBdbR_WcBase/GridListJsonQuality")?area_key=" + area_key + "&&parentId=" + parentId + "&&sort=" + itemsort + "&&WcCd=" + WcCd + "&&WcNm=" + WcNm, datatype: 'json' }).trigger('reloadGrid');
    },
    url: "@Url.Content("~/BaseModule/BBdbR_WcBase/TreeJsonQuality")"    //1.获取树
    };
    $("#ItemsTree").treeview(itemtree);
    }
    //加载表格
    function GetGrid() {
        $("#gridTable").jqGrid({
            url: "@Url.Content("~/BaseModule/BBdbR_WcBase/GridListJsonQuality")?area_key=" + area_key + "&&parentId=" + parentId + "&&sort=" + itemsort + "&&WcCd=" + "" + "&&WcNm=" + "",
        datatype: "json",
        height: 250,//$(window).height() - 149,
        autowidth: true,
        colModel: [
                { label: '质控点主键', name: 'WcId', index: 'WcId', width: 0, align: 'left', sortable: true, hidden: true},
                { label: '产线主键', name: 'PlineId', index: 'PlineId', width: 0, align: 'left', sortable: true, hidden: true  },
                { label: '质控点编号', name: 'WcCd', index: 'WcCd', width: 80, align: 'center',sortable: true  },
                { label: '质控点名称', name: 'WcNm', index: 'WcNm', width: 80, align: 'center',sortable: true  },
                //{
                //    label: '工位类型', name: 'WcTyp', index: 'WcTyp', width: 0, align: 'center', sortable: true,
                //    formatter: function (cellvalue, options, rowObject) {
                //        return CellItem('WcTyp', cellvalue);
                //    }
                //},
                { label: '产线编号', name: 'PlineCd', index: 'PlineCd', width: 100, align: 'center', sortable: true },
                { label: '产线名称', name: 'PlineNm', index: 'PlineNm', width: 80, align: 'center', sortable: true },
            //{ label: '质控点顺序', name: 'WcQueue', index: 'WcQueue', width: 0, align: 'center',sortable: true  },
                //{ label: '工位长度', name: 'WcLength', index: 'WcLength', width: 0, align: 'center',sortable: true },
                //{ label: '工位开始', name: 'StartPoint', index: 'StartPoint', width: 0, align: 'center', sortable: true, hidden: true },
                //{ label: '预警', name: 'PreAlarm', index: 'PreAlarm', width: 0, align: 'center', sortable: true, hidden: true  },
                //{ label: '结束', name: 'EndPoint', index: 'EndPoint', width: 0, align: 'center', sortable: true, hidden: true  },
                //{ label: '停止', name: 'StopPoint', index: 'StopPoint', width: 0, align: 'center', sortable: true, hidden: true  },
            //{ label: '排序号', name: 'SeqPoint', index: 'Seq', width: 0, align: 'center', sortable: true, hidden: true  },
                { label: '质控点描述', name: 'Dsc', index: 'Dsc', width: 0, align: 'center',sortable: true  },
                { label: '版本号', name: 'VersionNumber', index: 'VersionNumber', width: 0, align: 'center', sortable: true, hidden: true },
                { label: '顺序号', name: 'Sort', index: 'Sort', width: 50, align: 'center',sortable: true  },
                {
                    label: '有效性', name: 'Enabled', index: 'Enabled', width: 60, align: 'center', hidden: true ,
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == '1') return "<img src='../../Content/Images/checkokmark.gif'/>";
                        if (cellvalue == '0') return "<img src='../../Content/Images/checknomark.gif'/>";
                    }
                },
               { label: '创建时间', name: 'CreTm', index: 'CreTm', width: 0, align: 'center', sortable: true,
                formatter: function (cellvalue, options, rowObject) {
                    return formatDate(cellvalue, 'yyyy-MM-dd hh:mm:ss');
                } },
               { label: '创建人编号', name: 'CreCd', index: 'CreCd', width: 80, align: 'center', sortable: true  },
               { label: '创建人名称', name: 'CreNm', index: 'CreNm', width: 80, align: 'center', sortable: true  },
               { label: '修改时间', name: 'MdfTm', index: 'MdfTm', width: 0, align: 'center', sortable: true,
                formatter: function (cellvalue, options, rowObject) {
                    return formatDate(cellvalue, 'yyyy-MM-dd hh:mm:ss');
                }  },
               { label: '修改人编号', name: 'MdfCd', index: 'MdfCd', width: 80, align: 'center', sortable: true  },
               { label: '修改人名称', name: 'MdfNm', index: 'MdfNm', width: 80, align: 'center', sortable: true  },
               { label: '备注', name: 'Rem', index: 'Rem', width: 0, align: 'center',sortable: true  },
                { label: '预留字段1', name: 'RsvFld1', index: 'RsvFld1', width: 0, align: 'left', sortable: true, hidden: true  },
                { label: '预留字段2', name: 'RsvFld2', index: 'RsvFld2', width: 0, align: 'left', sortable: true, hidden: true  },
        ],
        //viewrecords: true,//显示总的记录条数
        
            pager: "#gridPager",
            sortname: 'sort',
            sortorder: 'asc',
            multiselect: true,
            multiboxonly: true,
            gridview: true,
            rowNum: 50,
            rowList: [50, 100, 500, 1000],
            rownumbers: true,//启用记录条数
            viewrecords: true,//显示总的记录条数
            rownumWidth: 45,//序号列宽
            shrinkToFit: false,//列宽自适应
            loadonce: true,//排序
           onSelectRow: function (row) {
                var rowData = $('#gridTable').jqGrid('getRowData', row);//得到选中行的数据
                var KeyValue = rowData.WcId;
                $("#gridTable1").jqGrid('setGridParam', {
                    url: "@Url.Content("~/BaseModule/BBdbR_WcBase/GridMatListJson")?KeyValue=" + escape(KeyValue) , datatype: 'json'
                    }).trigger('reloadGrid');
            }
    });
    }

     //加载车身方位基本表信息表格
    function GetGrid1() {
        $("#gridTable1").jqGrid({
            datatype: "json",
            height: 290,
            autowidth: true,
            colModel: [
                { label: '主键', name: 'ConfigId', index: 'ConfigId', width: 0, align: 'center', sortable: true, hidden: true },
                { label: '质控点主键', name: 'QualityCheckPointId', index: 'QualityCheckPointId', width: 0, align: 'center', sortable: true, hidden: true },
                { label: '检验岗主键', name: 'CarPositionId', index: 'CarPositionId', width: 0, align: 'center', sortable: true, hidden: true },
                { label: '检验岗编码', name: 'CarPositionCd', index: 'CarPositionCd', width: 0, align: 'center', sortable: true },
                { label: '检验岗名称', name: 'CarPositionNm', index: 'CarPositionNm', width: 0, align: 'center', sortable: true },
                {
                    label: '有效性', name: 'Enabled', index: 'Enabled', width: 60, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == '1') return "<img src='../../Content/Images/checkokmark.gif'/>";
                        if (cellvalue == '0') return "<img src='../../Content/Images/checknomark.gif'/>";
                    }
                },
               { label: '创建时间', name: 'CreTm', index: 'CreTm', width: 0, align: 'center', sortable: true,
                formatter: function (cellvalue, options, rowObject) {
                    return formatDate(cellvalue, 'yyyy-MM-dd hh:mm:ss');
                } },
               { label: '创建人编号', name: 'CreCd', index: 'CreCd', width: 0, align: 'center', sortable: true  },
               { label: '创建人名称', name: 'CreNm', index: 'CreNm', width: 0, align: 'center', sortable: true  },
               { label: '修改时间', name: 'MdfTm', index: 'MdfTm', width: 0, align: 'center', sortable: true,
                formatter: function (cellvalue, options, rowObject) {
                    return formatDate(cellvalue, 'yyyy-MM-dd hh:mm:ss');
                }  },
               { label: '修改人编号', name: 'MdfCd', index: 'MdfCd', width: 0, align: 'center', sortable: true  },
               { label: '修改人名称', name: 'MdfNm', index: 'MdfNm', width: 0, align: 'center', sortable: true  },
               { label: '备注', name: 'Rem', index: 'Rem', width: 0, align: 'center',sortable: true  },
                { label: '预留字段1', name: 'RsvFld1', index: 'RsvFld1', width: 0, align: 'left', sortable: true, hidden: true  },
                { label: '预留字段2', name: 'RsvFld2', index: 'RsvFld2', width: 0, align: 'left', sortable: true, hidden: true  },
            ],
            pager: "#gridPager1",
            sortname: '',
            sortorder: 'desc',
            rownumbers: true,
            multiselect: true,
            multiboxonly:true,
            shrinkToFit: false,
            gridview: true,
            loadonce: true,
        });
    }

    //加载搜索框
    function Show() {
        

        var Condition = $("#Condition").val();
        if (Condition == "all") {
            $("#WcTyp").hide();
            $("#keywords").hide();
        }
        else if (Condition == "WcTyp") {
            $("#WcTyp").show();
            $("#keywords").hide();
        }
        else {
            $("#WcTyp").hide();
            $("#keywords").show();
        }
    }

    //刷新
    function windowload() {
        $("#gridTable").setGridParam({ datatype: 'json', page: 1 }).trigger("reloadGrid");
        $("#gridTable1").setGridParam({ datatype: 'json', page: 1 }).trigger("reloadGrid");
    }

    //新增按钮
    function btn_add() {
        if (Type == 2) {
            var url = "/BaseModule/BBdbR_WcBase/QForm?area_key=" + area_key
            openDialog(url, "Form", "新增质控点信息", 500, 300, function (iframe) {
                top.frames[iframe].AcceptClick()
            });
        }
        else {
            alertDialog("请选择左边质控点所属位置", 0);
        }
    }
    //编辑按钮
    function btn_edit() {
        var KeyValue = GetJqGridRowValue("#gridTable", "WcId");
        if (KeyValue == undefined || KeyValue == "" || KeyValue == 'null' || KeyValue == 'undefined') {
            tipDialog('您没有选中任何项,请您选中后再操作。', 4, 'warning');
        }
        else {
            var count = KeyValue.split(",").length;
            if (count >= 2) {
                tipDialog('很抱歉，一次只能选择一个进行操作。', 4, 'warning');
            }
            else {
                var url = "/BaseModule/BBdbR_WcBase/QForm?KeyValue=" + KeyValue + "&area_key=" + area_key;
                openDialog(url, "Form", "编辑质控点信息", 500, 300, function (iframe) {
                    top.frames[iframe].AcceptClick()
                });
            }
        }
    }
    //配置按钮
    function btn_Config() {
        var KeyValue = GetJqGridRowValue("#gridTable", "WcId");
        if (KeyValue == undefined || KeyValue == "" || KeyValue == 'null' || KeyValue == 'undefined') {
            tipDialog('您没有选中任何项,请您选中后再操作。', 4, 'warning');
        }
        else {
            var count = KeyValue.split(",").length;
            if (count >= 2) {
                tipDialog('很抱歉，一次只能选择一个进行操作。', 4, 'warning');
            }
            else {
                var url = "/BaseModule/BBdbR_WcBase/ConfigComponent?KeyValue=" + KeyValue;
                openDialog(url, "Form", "配置检验岗信息", 600, 600, function (iframe) {
                    top.frames[iframe].AcceptClick()
                });
            }
        }
    }
    //解除配置
    function btn_deleteConfig() {
        var KeyValue = GetJqGridRowValue("#gridTable1", "ConfigId");
        if (IsDelData(KeyValue)) {
            var delparm = 'KeyValue=' + KeyValue;
            delConfig('/BaseModule/BBdbR_WcBase/ConfigDelete', delparm, KeyValue.split(",").length);
        }
    }
    //删除
    function btn_delete() {
        var KeyValue = GetJqGridRowValue("#gridTable", "WcId");
        if (IsDelData(KeyValue)) {
            var delparm = 'KeyValue=' + KeyValue;
            delConfig('/BaseModule/BBdbR_WcBase/DeleteWc', delparm, KeyValue.split(",").length);
        }
    }

    //导出
    //function btn_derive() {
    //    count = $("#gridTable").getGridParam("records");
    //    if (count == 0) {
    //        tipDialog("没有要导出的信息！", 1.5, 0);
    //        return;
    //    } else {
    //        SetDeriveExcel("#gridTable", "工位基本信息" + formatDate(CurrentTime(), 'yyyyMMdd'));
    //        openDialog("/CommonModule/ExcelImport/DeriveDialog", "DeriveDialog", "工位信息导出", 600, 300, function (iframe) {
    //            top.frames[iframe].AcceptClick();
    //        });
    //    } 
    //}


    //修改后导出
    //根据检索条件搜索出来的数据直接导出
    function btn_derive() {
        var WcCd = $("#WcCd").val();
        var WcNm = $("#WcNm").val();
        var count = $("#gridTable").getGridParam("records");
        if (count == 0) {
            tipDialog("没有要导出的信息！", 1.5, 0);
            return;
        }
        else if (count > 50000) {
            tipDialog("导出数据过大，请选择搜索条件分批导出", 1.5, 0);
            return;
        }
        else {
            window.setTimeout(function () {
                location.href = "/BaseModule/BBdbR_WcBase/GetExcel_DataQuality?area_key=" + area_key + "&&parentId=" + parentId + "&&sort=" + itemsort + "&&WcCd=" + WcCd + "&&WcNm=" + WcNm;
                Loading(false);
            }, 200);
        }
    }

    // 导入
    function btn_import() {
        if (Type == 2) {
            var OrderID = GetJqGridRowValue("#gridTable", "WcId");
            openDialog("/BaseModule/BBdbR_WcBase/ExcelImportDialog?area_key=" + area_key, "ExcelImportDialog", "工位信息导入", 750, 300, function (iframe) {
                top.frames[iframe].AcceptClick();
            });
        }
        else {
            alertDialog("请选择左边产线信息", 0);
        }
    }

    //搜索
    function btn_Search() {
        var WcCd = $("#WcCd").val();
        var WcNm = $("#WcNm").val();
        
        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("~/BaseModule/BBdbR_WcBase/GridPageByConditionQuality")?area_key=" + area_key + "&&parentId=" + parentId + "&&sort=" + itemsort + "&&WcCd=" + WcCd + "&&WcNm=" + WcNm, page: 1, datatype: 'json'
    }).trigger('reloadGrid');
    }
    $(document).keypress(function (e) {
        // 回车键事件
        if (e.which == 13) {
            btn_Search();
        }
    });

    //根据数据字典显示内容
    function CellItem(Code, cellvalue) {
        var value = "";
        getAjax('/CommonModule/DataDictionary/BinDingItemsJson', { Code: Code }, function (data) {
            var itemjson = eval("(" + data + ")");
            $.each(itemjson, function (i) {
                if (itemjson[i].Code == cellvalue) {
                    value = itemjson[i].FullName;
                }
            });
        })
        return value;
    }

    //根据数据字典显示内容
    function CellItem_AviCatg(Code) {
        var value = "";
        getAjax('/CommonModule/DataDictionary/BinDingItemsJson', { Code: Code }, function (data) {
            var itemjson = eval("(" + data + ")");
            var length = itemjson.length;
            if (length == 1) {
                PlineTypeCellItem = itemjson[0].Code + ":" + itemjson[0].FullName;
            }
            else if (length > 1) {
                for (var a = 0; a < length - 1; a++) {
                    value += itemjson[a].Code + ":" + itemjson[a].FullName + ";";
                }
                PlineTypeCellItem = value + itemjson[length - 1].Code + ":" + itemjson[length - 1].FullName;
            }
        })
    }

</script>
<div id="layout" class="layout">
    @*树区域*@
    <div class="layoutPanel layout-west">
        <div class="btnbartitle">
            <div>
                产线索引
            </div>
        </div>
        <div class="ScrollBar" id="ItemsTree"></div>
    </div>
    <div class="layoutPanel layout-center">
        @*按钮区域*@
        <div class="tools_bar" style="margin-top: 1px; margin-bottom: 0px;">
            <div class="PartialButton">
                @Html.Partial("_PartialButton")
            </div>
        </div>
        @*搜索框区域*@
        <table border="0" class="form-find" style="height: 45px;">
            <tr>
                <td>&nbsp;&nbsp;&nbsp;</td>
                <th>质控点编号：</th>
                <td>
                    <input id="WcCd" type="text" class="txt" style="width: 120px" />
                </td>
                <td>&nbsp;&nbsp;&nbsp;</td>
                <th>质控点名称：</th>
                <td>
                    <input id="WcNm" type="text" class="txt" style="width: 120px" />
                </td>


                <td>
                    <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="btn_Search()" />
                </td>
            </tr>
        </table>
        @*</div>*@
        @*表格区域*@
        <div class="topline rightline" style="margin: 1px; margin-top: -1px;">
            <table id="gridTable"></table>
            <div id="gridPager"></div>
        </div>
        <!--表 -->
        <div style="overflow: auto;">
            <div class="topline rightline" style="margin: 0px; margin-top: -1px;">
                <div class="btnbartitle">
                    <div style="float: left;margin-left:7px">
                        <span class="ModuleName">已配置检验岗信息</span>
                    </div>
                </div>
                <table id="gridTable1" class="ui-jqgrid tr.jqgrow td"></table>
                <div id="gridPager1"></div>
            </div>
        </div>
    </div>
</div>
