@{
    ViewBag.Title = "登录日志";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        //GetTree();
        //setType();
        GetGrid("");
        btn_Search();
        //BindCombobox();
    });

    //function BindCombobox() {
    //    BindDropItem("#LogType", "FASLogType", "==请选择=");
    //}
   
    //加载表格
    function GetGrid(ParameterJson) {
        $("#gridTable").jqGrid({
            @*url: "@Url.Content("~/SystemManaModule/LoginLogMana/GridPageListJson")",//联合查询*@
            datatype: "json",
            height: $(window).height() - 160,
            autowidth: true,
            colModel: [
                { label: "主键", name: "syslogid", index: "syslogid", hidden: true },
                {
                    label: "操作时间", name: "createdate", index: "createdate", width: 120, align: "center",
                    formatter: function (value, options, rowObject) {
                        return formatDate(value, 'yyyy-MM-dd hh:mm:ss');
                    }
                },
                //{ label: "操作模块", name: "modulename", index: "modulename", width: 120 },
                { label: "操作类型", name: "logtype", index: "logtype", width: 65, hidden: true },
                {
                    label: "操作类型", name: "logtypename", width: 65, align: "center",
                    formatter: function (value, options, rowObject) {
                        if (rowObject.logtype == '0') { return "登录"; }
                        if (rowObject.logtype == '1') { return "新增"; }
                        if (rowObject.logtype == '2') { return "修改"; }
                        if (rowObject.logtype == '3') { return "删除"; }
                        if (rowObject.logtype == '4') { return "其他"; }
                        if (rowObject.logtype == '5') { return "访问"; }
                        if (rowObject.logtype == '6') { return "离开"; }
                        if (rowObject.logtype == '7') { return "查询"; }
                        if (rowObject.logtype == '8') { return "安全退出"; }
                    }
                },
                { label: "ip地址", name: "ipaddress", index: "ipaddress", width: 100 , align: "center"},
                { label: "操作用户", name: "createusername", index: "createusername", width: 80 , align: "center"},
                //{ label: "操作人编号", name: "crecd", index: "crecd", width: 0, hidden: true },
                {
                    label: "操作状态", name: "status", index: "status", width: 50, align: "center",
                    formatter: function (value, options, rowobject) {
                        if (value == '1') {
                            //return "<span style='color:green'>成功</span>";
                            return "成功";
                        } else if (value == '0'){
                            //return "<span style='color:red'>失败</span>";
                            return "失败";
                        } else {
                            //return "<span style='color:blue'>异常</span>";
                            return "异常";
                        }
                    }
                },
                { label: "操作描述", name: "remark", index: "remark", width: 0, align: "center" },
            ],
            rowNum: 200,
            pager: "#gridPager",
            sortname: 'CreateDate',
            sortorder: 'desc',
            gridview: true,
            rownumbers: true,//启用记录条数
            rowList: [200, 100, 500, 1000],//记录条数列表
            viewrecords: true,//显示总的记录条数
            rownumWidth: 45,//序号列宽
            shrinkToFit: true,//列宽自适应
            loadonce: true//排序
        });
        columnModelData("#gridTable");
    }

    

    //搜索
    function btn_Search() { 
            var CreateUserName = $("#CreateUserName").val();//操作用户
            var IPAddress = $("#IPAddress").val();//IP地址
            var StartTime = $("#StartTime").val();
            var EndTime = $("#EndTime").val();       
            $("#gridTable").jqGrid('setGridParam', {
                url: "@Url.Content("~/SystemManaModule/LoginLogMana/GetLogList")?StartTime=" + StartTime + '&EndTime=' + EndTime + '&CreateUserName=' + CreateUserName + '&IPAddress=' + IPAddress, page: 1, datatype: 'json'
            }).trigger('reloadGrid');
    }
    $(document).keypress(function (e) {
        // 回车键事件
        if (e.which == 13) {
            btn_Search();
        }
    });
    //明细
    function btn_detail() {
        var SysLogId = GetJqGridRowValue("#gridTable", "syslogid");
        var LogType = GetJqGridRowValue("#gridTable", "logtype");
        var LogTypeName = GetJqGridRowValue("#gridTable", "logtypename");
        if (IsChecked(SysLogId)) {
            var url = "/SystemManaModule/LoginLogMana/LoginDetail?SysLogId=" + SysLogId + '&LogType=' + LogType;
            Dialog(url, "Detail", '日志详细信息-【' + LogTypeName + '】', 850, 450);
        }
    }
    //清空数据
    function btn_broom() {
        var url = "/SystemManaModule/LoginLogMana/RemoveLog";
        openDialog(url, "RemoveLog", "清空系统日志", 300, 80, function (iframe) {
            top.frames[iframe].AcceptClick();
        });
    }
    //导出Excel
    //function btn_derive() {
    //    SetDeriveExcel("#gridTable", "登录日志-" + formatDate(CurrentTime(), 'yyyyMMdd'));
    //    openDialog("/CommonModule/ExcelImport/DeriveDialog", "DeriveDialog", "登录日志导出", 600, 300, function (iframe) {
    //        top.frames[iframe].AcceptClick();
    //    });
    //}

    //修改后导出
    //根据检索条件搜索出来的数据直接导出
    function btn_derive() {
        var CreateUserName = $("#CreateUserName").val();//操作用户
        var IPAddress = $("#IPAddress").val();//IP地址
        var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val();

        var count = $("#gridTable").getGridParam("records");
        if (count == 0) {
            tipDialog("没有要导出的信息！", 1.5, 0);
            return;
        }
        else if (count > 50000) {
            tipDialog("导出数据过大，请选择搜索条件分批导出", 1.5, 0);
            return;
        }
        else {
            window.setTimeout(function () {
                location.href = "/SystemManaModule/LoginLogMana/GetExcel_Data?StartTime=" + StartTime + '&EndTime=' + EndTime + '&CreateUserName=' + CreateUserName + '&IPAddress=' + IPAddress;
                Loading(false);
            }, 200);
        }
    }


    //刷新表格
    function windowload() {
        $("#gridTable").trigger("reloadGrid"); //重新载入
    }
</script>
<div class="tools_bar leftline rightline" style="margin: 1px; margin-bottom: 0px;">
    <div class="PartialButton">
        @Html.Partial("_PartialButton")
    </div>
</div>
<div class="leftline rightline QueryArea" style="margin: 1px; margin-top: 0px; margin-bottom: 0px;">
    <table border="0" class="form-find" style="height: 45px;">
        <tr>
            <th id="LogType_s">操作用户：</th>
            <td>
                <input id="CreateUserName" type="text" class="txt" style="width: 150px" />
            </td>
            <th>IP地址：</th>
            <td>
                <input id="IPAddress" type="text" class="txt" style="width: 150px" />
            </td>
            
            <th id="STime_s">开始时间：</th>
            <td>
                <input id="StartTime" type="text" class="txt Wdate" value="@DateTime.Today.AddDays(-7).AddHours(00).AddMinutes(00).AddSeconds(00).ToString("yyyy-MM-dd HH:mm:ss")" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'#F{$dp.$D(\'EndTime\')||\'%y-%M-%d\'}'}); blur();" readonly style="width: 150px" />
            </td>
            <th id="ETime_s">结束时间：</th>
            <td>
                <input id="EndTime" type="text" class="txt Wdate" value="@DateTime.Today.AddHours(23).AddMinutes(59).AddSeconds(59).ToString("yyyy-MM-dd HH:mm:ss")" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'StartTime\')}'}); blur();" readonly style="width: 150px;" />
            </td>
            @*<th id="LogType_s" style="display:none">日志类型：</th>
        <td>
            <select id="LogType" name="FASLogType" type="text" class="txt" style="height:auto" />
        </td>*@
            <td>
                <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="btn_Search()" />
            </td>
        </tr>
        </table>
</div>
<div class="topline rightline" style="margin: 1px; margin-top: -1px;">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
