@{
    ViewBag.Title = "拧紧停线控制";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript">
    $(function () {
        GetTree();
        GetGrid();
    })
    //加载左边树
    function GetTree() {
        var itemtree = {
            onnodeclick: function (item) {
                var WcCd = item.text;
                //2.点击树展示表格
                $("#gridTable").jqGrid('setGridParam', { url: "@Url.Content("~/TightModule/WcControl/GridListJson")?WcCd=" + WcCd + "", datatype: 'json' }).trigger('reloadGrid');
    },
    url: "@Url.Content("~/TightModule/WcControl/TreeJson")"    //1.获取树
    };
    $("#ItemsTree").treeview(itemtree);
    }
    //加载表格
    function GetGrid() {
        $("#gridTable").jqGrid({
            url: "@Url.Content("~/TightModule/WcControl/GridListJson")",
        datatype: "json",
        height: $(window).height() - 149,
        autowidth: true,
        colModel: [
                { label: '工位主键', name: 'WcId', index: 'WcId', width: 0, align: 'left', sortable: true, hidden: true},
                { label: '工位编号', name: 'WcCd', index: 'WcCd', width: 80, align: 'center',sortable: true  },
                { label: '工位名称', name: 'WcNm', index: 'WcNm', width: 80, align: 'center',sortable: true  },
                {
                    label: '有效性', name: 'Status', index: 'Status', width: 60, align: 'center' ,
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == '100') return "解除控线";
                        if (cellvalue == '1') return "控线";
                    }
                },
            { label: '修改时间', name: 'EditTime', index: 'EditTime', width: 150, align: 'center', sortable: true, formatter: 'date', formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' }   },
            { label: '修改人名称', name: 'EditUserNm', index: 'EditUserNm', width: 0, align: 'center', sortable: true  },
        ],
            rowNum: 50,
            pager: "#gridPager",
            sortname: 'sort',
            sortorder: 'asc',
            multiselect: true,
            multiboxonly: true,
            gridview: true,
            rownumbers: true,//启用记录条数
            rowList: [200, 100, 500, 1000],//记录条数列表
            viewrecords: true,//显示总的记录条数
            rownumWidth: 45,//序号列宽
            shrinkToFit: false,//列宽自适应
            loadonce: true,//排序
    });
}

    //刷新
    function windowload() {
        $("#gridTable").setGridParam({ datatype: 'json', page: 1 }).trigger("reloadGrid");
    }


   //搜索
    function btn_Search() {
        var WcCd = $("#WcCd").val();
        var WcNm = $("#WcNm").val();
        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("~/TightModule/WcControl/GridListJson")?Cd=" + escape(WcCd) + "&&Nm=" + WcNm + "", page: 1, datatype: 'json'
    }).trigger('reloadGrid');
    }

    $(document).keypress(function (e) {
        // 回车键事件
        if (e.which == 13) {
            btn_Search();
        }
    });

    //控线
    function btn_control() {
        var KeyValue = GetJqGridRowValue("#gridTable", "WcId");
        if (IsDelData(KeyValue)) {
            doBusiness('/TightModule/WcControl/DoBusiness', { Type: "1", Wc: KeyValue } , KeyValue.split(",").length,"控线");
        }
    }
    //解除控线
    function btn_nocontrol() {
        var KeyValue = GetJqGridRowValue("#gridTable", "WcId");
        if (IsDelData(KeyValue)) {
            doBusiness('/TightModule/WcControl/DoBusiness', { Type: "100", Wc: KeyValue }, KeyValue.split(",").length,"解除控线");
        }
    }
    function doBusiness(url, parm, count,type) {
        if (count == undefined) {
            count = 1;
        }
        confirmDialog("温馨提示", "注：您确定要" + type + count + " 笔记录？", function (r) {
            if (r) {
                Loading(true, "正在" + type + "数据...");
                window.setTimeout(function () {
                    AjaxJson(url, parm, function (data) {
                        tipDialog(data.Message, 3, data.Code);
                        if (data.Code > 0) {
                            btn_Search();
                        }
                    });
                }, 200);
            }
        });
    }
</script>
<div id="layout" class="layout">
    @*树区域*@
    <div class="layoutPanel layout-west">
        <div class="btnbartitle">
            <div>
                产线索引
            </div>
        </div>
        <div class="ScrollBar" id="ItemsTree"></div>
    </div>
    <div class="layoutPanel layout-center">
        @*按钮区域*@
        <div class="tools_bar" style="margin-top: 1px; margin-bottom: 0px;">
            <div class="PartialButton">
                @Html.Partial("_PartialButton")
            </div>
        </div>
        @*搜索框区域*@
        <table border="0" class="form-find" style="height: 45px;">
            <tr>
                <th>工位编号：</th>
                <td>
                    <input id="WcCd" type="text" class="txt" style="width: 120px" />
                </td>
                <th>工位名称：</th>
                <td>
                    <input id="WcNm" type="text" class="txt" style="width: 120px" />
                </td>
                <td>
                    <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="btn_Search()" />
                </td>
            </tr>
        </table>
        @*</div>*@
        @*表格区域*@
        <div class="topline rightline" style="margin: 1px; margin-top: -1px;">
            <table id="gridTable"></table>
            <div id="gridPager"></div>
        </div>
    </div>
</div>
