@{
    ViewBag.Title = "部门管理";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        GetTree();
        GetRoleType();
        //GetGrid("");
    });
    var CheckId = "";
    var CheckName = "";
    var Role = "";
    var checkselectrow = "";
    //获取角色
    function GetRoleType() {
        AjaxJson("/CommonModule/DemandCheck/GetRoleType", {}, function (data) {
            //console.log(data);
            Role = data;
            if (Role == "刀具管理员") {
                $("#gridTable1").remove();
                GetGrid2(CheckId);
            } else {
                $("#gridTable2").remove();
                GetGrid1(CheckId);
            }
        });
    }
    /* convert Number to Roman Number with scope(1-3999)*/
    function convertToRoman(num) {
        var aArray = [1000, 900, 500, 400, 100, 90, 50, 40, 10, 9, 5, 4, 1];
        var rArray = ["M", "CM", "D", "CD", "C", "XC", "L", "XL", "X", "IX", "V", "IV", "I"];
        var result = "";
        for (var i = 0; i < aArray.length; i++) {
            while (num >= aArray[i]) {
                result += rArray[i];
                num -= aArray[i];
            }
        }
        return result;
    }
    //加载左边树
    function GetTree() {
        var itemtree = {
            onnodeclick: function (item) {
                CheckId = item.id;            //ID
                CheckName = item.text;        //名称
                $("#CenterTitle").html(" - " + CheckName);
                if (Role == "刀具管理员") {
                    //GetGrid2(CheckId);
                    $("#gridTable2").jqGrid('setGridParam', { url: "@Url.Content("~/CommonModule/DemandCheck/GridPlanList")?CheckId=" + CheckId + "&Role=" + escape(Role) }).trigger('reloadGrid');
                } else {
                    //GetGrid1(CheckId);
                    $("#gridTable1").jqGrid('setGridParam', { url: "@Url.Content("~/CommonModule/DemandCheck/GridPlanList")?CheckId=" + CheckId + "&Role=" + escape(Role) }).trigger('reloadGrid');
                }

            },
            url: "@Url.Content("~/CommonModule/DemandCheck/TreeJson")"
        };
        $("#ItemsTree").treeview(itemtree);
    }
    //加载物料程序齐套表格
    function GetGrid1(CheckId) {
        $("#gridTable1").jqGrid({
            url: "@Url.Content("~/CommonModule/DemandCheck/GridPlanList")?CheckId=" + CheckId + "&Role=" + escape(Role),
            datatype: "json",
            height: $(window).height() - 105,
            autowidth: true,
            colModel: [
                { label: '主键', name: 'ID', index: "ID", hidden: true },
                { label: '计划编号', name: 'PlanCode', index: "PlanCode", width: 100, align: "center", },
                {
                    label: '计划类型', name: 'Type', index: "Type", width: 100, align: "center",
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == "0") {
                            return "<span style='color:skyblue'>正常生产计划</span>";
                        }
                        else if (cellvalue == "1") { return "<span style='color:red'>返修计划</span>"; }
                        else if (cellvalue == "2") { return "<span style='color:red'>改制计划</span>"; }
                    }
                },
                {
                    label: '计划开工时间', name: 'StartTime', index: 'CreateTime', width: 120, align: "center",
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd hh:mm');
                    }
                },
                {
                    label: '计划完工时间', name: 'EndTime', index: 'CreateTime', width: 120, align: "center",
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd hh:mm');
                    }
                },
                { label: '批量数(个)', name: 'Batch', index: "Batch", width: 80, align: "center" },
                {
                    label: '计划批次', name: 'PlanNo', index: "PlanNo", width: 80, align: "center",
                    formatter: function (cellvalue, options, rowObject) {
                        return "第" + cellvalue + "批";
                    }
                },
                {
                    label: '计划状态', name: 'Status', index: "Status", width: 80, align: "center",
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == "0") {
                            return "<span style='color:red'>待细排</span>";
                        }
                        else if (cellvalue == "1") { return "<span style='color:skyblue'>未上线</span>"; }
                        else if (cellvalue == "2") { return "<span style='color:blue'>执行中</span>"; }
                        else return "<span style='color:black'>已完工</span>";
                    }
                },
                {
                    label: '首件是否调试', name: 'HasFirstPiece', index: "HasFirstPiece", width: 100, align: "center",
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == "0") {
                            return "<span style='color:red'>不调试</span>";
                        }
                        else return "<span style='color:black'>调试</span>";
                    }
                },
                { label: '所属项目编号', name: 'ProjectCode', index: "ProjectCode", width: 100, align: "center" },
                { label: '计划优先级', name: 'SubPriority', index: "SubPriority", width: 80, align: "center" },
                {
                    label: '交货期', name: 'DeadLine', index: 'DeadLine', width: 120, align: "center",
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd');
                    }
                }
            ],
            pager: false,
            rowNum: 1000,
            sortname: 'SortCode',
            sortorder: 'asc',
            multiselect: true,
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,

            subGrid: true,
            subGridRowExpanded: function (subgrid_id, row_id) {
                var planId = GetJqGridValue("#gridTable1", row_id, "ID");
                var subgrid_table_id = subgrid_id + "_t";
                $("#" + subgrid_id).html("<table id='" + subgrid_table_id + "'></table>");
                $("#" + subgrid_table_id).jqGrid({

                    url: "@Url.Content("~/CommonModule/DemandCheck/GridMateralList")?CheckId=" + planId + "&Role=" + escape(Role),
                    datatype: "json",
                    colModel: [
                        { label: 'ID', name: "ID", index: "ID", width: 30, sortable: false, align: 'center',hidden: true },
                        { label: '工序编码', name: "ProcedureCode", index: "ProcedureCode", width: 100, sortable: false, align: 'center' },
                        { label: '任务编码', name: "TaskCode", width: 100, sortable: false, align: 'center' },
                        {
                            label: '任务预警期', name: "ProLeadTime", width: 120, sortable: false, align: 'center',
                            formatter: function (cellvalue, options, rowObject) {
                                return formatDate(cellvalue, 'yyyy-MM-dd hh:mm');
                            }
                        },
                        {
                            label: '任务类型',name: "Type",width: 120,sortable: false,align: 'center',
                            formatter: function(cellvalue, options, rowObject) {
                                if (cellvalue == 0) {
                                    return "<span style='color:DarkSlateBlue'>物料齐套任务</span>";
                                } else if (cellvalue == 1) {
                                    return "<span style='color:DarkTurquoise'>程序齐套任务</span>";
                                } else {
                                    return "<span style='color:Feldspar'>刀具齐套任务</span>";
                                }
                            }
                        },
                        {
                            label: '齐套状态', name: 'Cstate', index: "Cstate", width: 120, align: 'center', sortable: true,
                            formatter: function (cellvalue, options, rowObject) {
                                if (cellvalue == '1') return "<span style='color:blue'>待确认（未到预警期）</span>";
                                if (cellvalue == '2') return "<span style='color:red'>待确认（已到预警期）</span>";
                                if (cellvalue == '3') return "<span style='color:green'>已确认</span>";
                            }
                        },
                        { label: '所属项目', name: "ProjectCode", width: 100, sortable: false, align: 'center' },
                        { label: '所属计划', name: "PlanCode", width: 100, sortable: false, align: 'center' },
                        { label: '需求数', name: "DemandNum", width: 100, sortable: false, align: 'center' },
                        {
                            label: '优先级', name: "Priority", width: 100, sortable: false, align: 'center',
                            formatter: function (cellvalue, options, rowObject) {
                                return convertToRoman(cellvalue);
                            }
                        },
                        { label: '备注', name: 'Remarks', index: "Remarks", width: 140, align: 'center' }
                    ],
                    //width: "1408",
                    multiselect: false,
                    rowNum: "all",
                    onSelectRow: function () {
                        SelectRowIndxs = GetJqGridRowIndx("#" + this.id);
                        var x = document.getElementById(subgrid_table_id).rows[SelectRowIndxs].cells;
                        checkselectrow = x[0].innerText;//获取选中ID
                        console.log(x);
                        //console.log(x[1].innerText);
                    },
                });
            }
        });
        columnModelData("#gridTable1");
    }
    //加载刀具齐套表格
    function GetGrid2(CheckId) {
        $("#gridTable2").jqGrid({
            url: "@Url.Content("~/CommonModule/DemandCheck/GridPlanList")?CheckId=" + CheckId + "&Role=" + escape(Role),
            datatype: "json",
            height: $(window).height() - 105,
            autowidth: true,
            colModel: [
                { label: '主键', name: 'ID', index: "ID", hidden: true },
                { label: '计划编号', name: 'PlanCode', index: "PlanCode", width: 100, align: "center", },
                {
                    label: '计划类型', name: 'Type', index: "Type", width: 100, align: "center",
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == "0") {
                            return "<span style='color:skyblue'>正常生产计划</span>";
                        }
                        else if (cellvalue == "1") { return "<span style='color:red'>返修计划</span>"; }
                        else if (cellvalue == "2") { return "<span style='color:red'>改制计划</span>"; }
                    }
                },
                {
                    label: '计划开工时间', name: 'StartTime', index: 'CreateTime', width: 100, align: "center",
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd hh:mm');
                    }
                },
                {
                    label: '计划完工时间', name: 'EndTime', index: 'CreateTime', width: 100, align: "center",
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd hh:mm');
                    }
                },
                { label: '批量数(个)', name: 'Batch', index: "Batch", width: 100, align: "center" },
                {
                    label: '计划批次', name: 'PlanNo', index: "PlanNo", width: 100, align: "center",
                    formatter: function (cellvalue, options, rowObject) {
                        return "第" + cellvalue + "批";
                    }
                },
                {
                    label: '计划状态', name: 'Status', index: "Status", width: 100, align: "center",
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == "0") {
                            return "<span style='color:red'>待细排</span>";
                        }
                        else if (cellvalue == "1") { return "<span style='color:skyblue'>未上线</span>"; }
                        else if (cellvalue == "2") { return "<span style='color:blue'>执行中</span>"; }
                        else return "<span style='color:black'>已完工</span>";
                    }
                },
                {
                    label: '首件是否调试', name: 'HasFirstPiece', index: "HasFirstPiece", width: 100, align: "center",
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == "0") {
                            return "<span style='color:red'>不调试</span>";
                        }
                        else return "<span style='color:black'>调试</span>";
                    }
                },
                { label: '所属项目编号', name: 'ProjectCode', index: "ProjectCode", width: 100, align: "center" },
                {
                    label: '计划优先级', name: 'SubPriority', index: "SubPriority", width: 80, align: "center",
                    formatter: function (cellvalue, options, rowObject) {
                        return convertToRoman(cellvalue);
                    }
                },
                {
                    label: '交货期', name: 'DeadLine', index: 'DeadLine', width: 120, align: "center",
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd');
                    }
                }
            ],
            pager: false,
            rowNum: 1000,
            sortname: 'SortCode',
            sortorder: 'asc',
            rownumbers: true,
            multiselect: true,
            shrinkToFit: false,
            gridview: true,

            subGrid: true,
            subGridRowExpanded: function (subgrid_id, row_id) {
                var planId = GetJqGridValue("#gridTable2", row_id, "ID");
                var subgrid_table_id = subgrid_id + "_t";
                $("#" + subgrid_id).html("<table id='" + subgrid_table_id + "'></table>");
                $("#" + subgrid_table_id).jqGrid({

                    url: "@Url.Content("~/CommonModule/DemandCheck/GridCutterList")?CheckId=" + planId,
                    datatype: "json",
                    colModel: [
                        { label: 'ID', name: "ID", index: "ID", width: 30, sortable: false, align: 'center', hidden: true},
                        { label: '刀具类型', name: 'CutterType', index: "CutterType", width: 100, align: 'center' },
                        { label: '刀具型号', name: 'Specification', index: "Specification", width: 100, align: 'center' },
                        { label: '刀具名称', name: 'CutterName', index: "CutterName", width: 100, align: 'center' },
                        {
                            label: '任务预警期', name: "ProLeadTime", width: 150, sortable: false, align: 'center',
                            formatter: function (cellvalue, options, rowObject) {
                                return formatDate(cellvalue, 'yyyy-MM-dd hh:mm');
                            }
                        },
                        {
                            label: '任务类型',name: "Type",width: 100,sortable: false,align: 'center',
                            formatter: function(cellvalue, options, rowObject) {
                                if (cellvalue == 1) {
                                    return "<span style='color:DarkSlateBlue'>物料齐套任务</span>";
                                } else if (cellvalue == 2) {
                                    return "<span style='color:DarkTurquoise'>程序齐套任务</span>";
                                } else  {
                                    return "<span style='color:Feldspar'>刀具齐套任务</span>";
                                }
                            }
                        },
                        {
                            label: '齐套状态', name: 'Cstate', index: "Cstate", width: 120, align: 'center', sortable: true,
                            formatter: function (cellvalue, options, rowObject) {
                                if (cellvalue == '1') return "<span style='color:blue'>待确认（未到预警期）</span>";
                                if (cellvalue == '2') return "<span style='color:red'>待确认（已到预警期）</span>";
                                if (cellvalue == '3') return "<span style='color:green'>已确认</span>";
                            }
                        },
                        { label: '所属项目', name: "ProjectCode", width: 110, sortable: false, align: 'center' },
                        { label: '所属计划', name: "PlanCode", width: 110, sortable: false, align: 'center' },
                        { label: '需求数', name: "DemandNum", width: 100, sortable: false, align: 'center' },
                        { label: '备注', name: 'Remarks', index: "Remarks", width: 150, align: 'center' }
                    ],
                    //width: "1408",
                    multiselect: false,
                    rowNum: "all"
                });
            }
        });
        columnModelData("#gridTable2");
    }

    //确认齐套
    function btn_check() {
        var KeyValue;
        if (Role == "刀具管理员") {
            KeyValue = GetJqGridRowValue("#gridTable2", "ID");
        } else if (Role == "物料管理员") {
            KeyValue = GetJqGridRowValue("#gridTable1", "ID");
        } else {
            KeyValue = checkselectrow;
        }
        if (KeyValue == undefined || KeyValue == "" || KeyValue == 'null' || KeyValue == 'undefined') {
            tipDialog('您没有选中任何项,请您选中后再操作。', 4, 'warning');
        }
        else {
            var count = KeyValue.split(",").length;
            confirmDialog("温馨提示", "注：确定" + count + " 笔齐套任务已经齐套？", function (r) {
                if (r) {
                    Loading(true, "正在确认齐套中...");
                    window.setTimeout(function () {
                        AjaxJson('/CommonModule/DemandCheck/ConfirmCheck', { Role: Role, KeyValue: KeyValue }, function (data) {
                            tipDialog(data.Message, 3, data.Code);
                            if (data.Code > 0) {
                                windowload();
                            }
                        });
                    }, 200);
                }
            });
        }
    }

    //搜索预警信息
    function btn_Search() {
        var Condition = $("#Condition").val();
        var Keyword = $("#keywordstxt").val();
        //加载数据表格
        if (Role == "刀具管理员") {
            $("#gridTable2").jqGrid("clearGridData");
            $("#gridTable2").jqGrid('setGridParam', { url: "@Url.Content("~/CommonModule/DemandCheck/GetCutterList")?Condition=" + Condition + "&Keyword=" + Keyword }).trigger('reloadGrid');
        } else {
            $("#gridTable1").jqGrid("clearGridData");
            $("#gridTable1").jqGrid('setGridParam', { url: "@Url.Content("~/CommonModule/DemandCheck/GetMateralList")?Condition=" + Condition + "&Keyword=" + Keyword + "&Role=" + escape(Role) }).trigger('reloadGrid');
        }
    }
    //刷新
    function windowload() {
        $("#gridTable1").trigger("reloadGrid"); //重新载入
        $("#gridTable2").trigger("reloadGrid"); //重新载入
    }
</script>
<div id="layout" class="layout">
    <!--左边-->
    <div class="layoutPanel layout-west">
        <div class="btnbartitle">
            <div>
                结构树
            </div>
        </div>
        <div class="ScrollBar" id="ItemsTree"></div>
    </div>
    <!--中间-->
    <div class="layoutPanel layout-center">
        <div class="btnbartitle">
            <div>
                齐套信息<span id="CenterTitle"></span>
            </div>
        </div>
        <div class="tools_bar" style="border-top: none; margin-bottom: 0px;">
            <div class="PartialButton">
                @Html.Partial("_PartialButton")
            </div>
        </div>
        <table border="0" class="form-find" style="height: 45px;">
            <tr>
                <th>检索条件：</th>
                <td>
                    <select id="Condition" style="width: 150px;height:25px">
                        <option value="">全部</option>
                        <option value="OrderCode">订单编号</option>
                        <option value="ProjectCode">项目编号</option>
                        <option value="Cstate">任务状态</option>
                    </select>
                </td>
                <td id="keywords" >
                    <input id="keywordstxt" type="text" class="txt" style="width: 200px" />
                </td>
                <td>
                    <input id="btnSearch" type="button" class="btnSearch" value="预警信息" onclick="btn_Search()" />
                </td>
            </tr>
        </table>
        <table id="gridTable1"></table>
        <table id="gridTable2"></table>
    </div>
</div>
